body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    color: #ffff;
    background: linear-gradient(#a2d2ff,#EFB0C9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lile{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#kor{
    background: #EFB0C9;
    padding: 5px 10px; 
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#ary{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px; 
    margin: 0px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.giftbor{
    border: 5px solid white;
    border-radius: 7px;
    width: 400px;
    height: 400px ;
    background-image: url("cover.png");
    background-size: cover;
    margin: 0 auto;
}

.gift-section{
    margin-top: 50px;
}

.gift-title{
    margin-bottom: 10px;
}
.gift-hint{
    margin-top: 0px;
}

.giftbor:hover{
    background-image: url("happy-dance.gif");
}

#gift2{
    border: 5px solid white;
    border-radius: 7px;
    width: 400px;
    height: 400px ;
    background-image: url("cover.png");
    background-size: cover;
    margin: 0 auto;
}

#gift2:hover{
    background-image: url("hamtaro.gif");
}

#nuts{
    border: 5px solid white;
    border-radius: 7px;
    height: 200px ;
    background-image: url("cover.png");
    background-size: cover;
    margin: 0 auto;
}

#nuts:hover{
    background-image: url("age.gif");
}

#footer{
    width: 400px;
    text-align: center;
    font-style: italic;
    color: white;
    margin: 40px auto 20px;
    
}

.keq{
    color: white;
}
